.container
{
	width:200px;
	margin:0 auto;
}

#navigator
{
	width:300px;
	position:relative;
	left:-25px;
}	

ul
{
	display:none;
	list-style-type: none;
}

.green
{
	list-style-image: url("../ajaxAPI/cross-green.png");
	vertical-align:middle;
}

.red
{
	list-style-image: url("../ajaxAPI/cross-on.png");
	vertical-align:middle;
}

a:link
{
	text-decoration: none;
}

a:visited
{
	color:black;
}

a:hover
{
	background-color:black;
	color:white;
}

.current
{
	display:block;
}

#pager
{

	 display:block;

}